In [27]:
import mysql.connector

try:
    conn1 = mysql.connector.connect(
        host="mysql", # MySQL 서버 주소
        user="root",
        password="1234"
    )
    if conn1.is_connected():
        print("MySQL1 서버에 성공적으로 연결되었습니다.")
    conn2 = mysql.connector.connect(
        host="210.119.14.59", # MySQL 서버 주소
        user="root",
        password="1234"
    )
    if conn2.is_connected():
        print("MySQL2 서버에 성공적으로 연결되었습니다.")
except mysql.connector.Error as err:
        print("MySQL 서버 연결 실패", err)
finally:
    if conn.is_connected():
        print("연결중...")

MySQL1 서버에 성공적으로 연결되었습니다.
MySQL2 서버에 성공적으로 연결되었습니다.
연결중...

In [28]:
# 커서 생성
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
que = "CREATE DATABASE IF NOT EXISTS ybdb"
cursor1.execute(que)
cursor2.execute(que)
conn1.close()
conn2.close()

In [29]:
# MySQL에 연결
conn1 = mysql.connector.connect(
        host="mysql", # MySQL 서버 주소
        user="root",
        password="1234",
        database="ybdb" # 사용할 데이터 베이스
    )
conn2 = mysql.connector.connect(
        host="210.119.14.59", # MySQL 서버 주소
        user="root",
        password="1234",
        database="ybdb" # 사용할 데이터 베이스
    )
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
print("MySQL 연결 성공!")

MySQL 연결 성공!

In [30]:
# 테이블 생성
query = "CREATE TABLE IF NOT EXISTS users(id INT AUTO_INCREMENT PRIMARY KEY ,name VARCHAR(50), age INT, city VARCHAR(50))"
cursor1.execute(query)
cursor2.execute(query)
print("테이블 생성완료")

테이블 생성완료

In [34]:
# 여러개의 데이터 삽입
m_values=[("superman",33,"Busan"),("Cutegirl",17,"jeju"),("Coolboy",22,"Jeju")]
cursor1.executemany(sql, m_values)
cursor2.executemany(sql, m_values)
conn1.commit()
conn2.commit()
print("여러개의 데이터를 두대의 DB에 삽입 완료!")

여러개의 데이터를 두대의 DB에 삽입 완료!

In [35]:
# 모든 데이터 조회
que = "SELECT * FROM users"
cursor1.execute(que)
users1 = cursor1.fetchall()
cursor2.execute(que)
users2 = cursor2.fetchall()
# print(users)
print("=====서버1의 내용=====")
for user in users1:
    print(user)
print("=====서버2의 내용=====")
for user in users2:
    print(user)

=====서버1의 내용=====
(1, 'Alice', 25, 'Seoul')
(2, 'Alice', 25, 'Seoul')
(3, 'Alice', 25, 'Seoul')
(4, 'superman', 33, 'Busan')
(5, 'Cutegirl', 17, 'jeju')
(6, 'Coolboy', 22, 'Jeju')
(7, 'superman', 33, 'Busan')
(8, 'Cutegirl', 17, 'jeju')
(9, 'Coolboy', 22, 'Jeju')
(10, 'superman', 33, 'Busan')
(11, 'Cutegirl', 17, 'jeju')
(12, 'Coolboy', 22, 'Jeju')
=====서버2의 내용=====
(1, 'superman', 33, 'Busan')
(2, 'Cutegirl', 17, 'jeju')
(3, 'Coolboy', 22, 'Jeju')
(4, 'superman', 33, 'Busan')
(5, 'Cutegirl', 17, 'jeju')
(6, 'Coolboy', 22, 'Jeju')
(7, 'superman', 33, 'Busan')
(8, 'Cutegirl', 17, 'jeju')
(9, 'Coolboy', 22, 'Jeju')