# 제어문

## if 문

In [25]:
if True:
    print("항상 동작합니다!")
if False: 
    print("이건 동작할까요?")
if [1,3]:
    print("5가 큽니다")
if 4 > 10: 
    print("나올까요?")

항상 동작합니다!
5가 큽니다

In [14]:
if False: 
    print("택시를")
    print("타고")
print("가라")

가라

In [20]:
mymoney = int(input('얼마 가지고 있습니까?'))
if mymoney >= 3000:
    print('택시타고 가세요.')
# if mymoney < 3000:
else:    
    print('걸어가세요.')

얼마 가지고 있습니까? 1000

걸어가세요.

In [21]:
# and, or, not

In [22]:
print("===== and 연산 =====")
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print("===== or 연산 =====")
print(True or True)
print(True or False)
print(False or True)
print(False or False)
print("===== not 연산 =====")
print(True)
print(not True)
print(not False)

===== and 연산 =====
True
False
False
False
===== or 연산 =====
True
True
True
False
===== not 연산 =====
True
False
True

In [24]:
이상형 = True
똑똑 = True
if 이상형 and 똑똑:
    print("만납시다")
else: 
    print("그래요..")

만납시다

In [30]:
이상형 = False
다정 = False
if 이상형 or 다정 : 
    print("만납시다")
else:
    print("그렇군요...")

그렇군요...

In [31]:
주사 = True
if not 주사: 
    print("만나요")
else: 
    print("잘가요")

잘가요

In [33]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else: 
    print("걸어가라")

걸어가라

In [35]:
money = 2000
card = True
if money >= 3000 or card: 
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [46]:
me = 'Python'
compA = ['JAVA', 'CSS', 'HTML', 'Javascript', 'C', 'MySQL']
compB = ['JAVA', 'Python', 'Javascript', 'C', 'MySQL']
compC = ['JAVA', 'Python', 'HTML', 'MySQL']
if me in compA:
    print("A회사 합격입니다.")
else: 
    print("A회사 불합격입니다.")
if me in compB:
    print("B회사 합격입니다.")
else: 
    print("B회사 불합격입니다.")
if me in compC:
    print("C회사 합격입니다.")
else:
    print("C회사 불합격입니다.")

A회사 불합격입니다.
B회사 합격입니다.
C회사 합격입니다.

In [81]:
score = int(input("점수를 입력하세요.")) or 60
if score>=90:
    print('A학점입니다.')
elif 90 > score >= 80:
    print('B학점입니다.')
elif 80 > score >= 70:
    print('C학점입니다.')
elif 70 > score >= 60:
    print('D학점입니다.')
elif score < 60:
    print('F학점입니다.')
else: 
    print("수고하셨습니다.")

점수를 입력하세요. 79

C학점입니다.

In [77]:
# 방법1 if만 사용
점수 = int(input("점수를 입력하세요.") or 77) 
if 90 <= 점수:
    grade = "A"
if 80 <= 점수 < 90:
    grade = "B"
if 70 <= 점수 < 80:
    grade = "C"
if 60 <= 점수 < 70:
    grade = "D"
print(f"{grade} 학점입니다.")

점수를 입력하세요. 61

D 학점입니다.

In [75]:
# 방법2 if, elif, else 사용
score = int(input("점수를 입력하세요."))
if 90 <= score  : grade = 'A'
elif 80 <= score : grade = 'B'
elif 70 <= score : grade = 'C'
elif 60 <= score : grade ='D'
else: grade = 'F'
print(f"{grade} 학점입니다.")

점수를 입력하세요. 33

F 학점입니다.

In [113]:
# 사용자로부터 온도 입력받기
temperature = float(input("현재 온도를 입력하세요 (°C): "))

# 조건문으로 계절 구분 
if 15 <= temperature < 25: 
    print("지금은 봄입니다 🌸")
elif temperature >= 25:
    print("지금은 여름입니다 ☀️")
elif 10 <= temperature < 15: 
    print("지금은 가을입니다 🍂")
else:
    print("지금은 겨울입니다 ❄️")

현재 온도를 입력하세요 (°C):  -1

지금은 겨울입니다 ❄️

In [ ]:
# 사용자로부터 온도 입력받기
temperature = int(input("현재 온도를 입력하세요 (°C): "))

# 조건문으로 계절 구분 
if 15 <= temperature < 25: 
    print("지금은 봄입니다 🌸")
elif temperature >= 25:
    print("지금은 여름입니다 ☀️")
elif 10 <= temperature < 15: 
    print("지금은 가을입니다 🍂")
else:
    print("지금은 겨울입니다 ❄️")

In [109]:
온도 = int(input("온도를 입력하세요."))
if 15 <= 온도 < 25 : 계절 = '봄'
elif 25 <= 온도 : 계절 = '여름'
elif 10 <= 온도 < 15 : 계절 = '가을'
elif 온도 < 10 : 계절 = '겨울'
print(f"올해의 계절은 {계절}입니다.")

온도를 입력하세요. -7

올해의 계절은 겨울입니다.

## While 문

In [1]:
num = 10 
while num:
    num-=1
    print(num, "나화났어!")

9 나화났어!
8 나화났어!
7 나화났어!
6 나화났어!
5 나화났어!
4 나화났어!
3 나화났어!
2 나화났어!
1 나화났어!
0 나화났어!

In [110]:
treeHit = 0 
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10: 
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [112]:
namu = 10
while namu:
    namu -=1
    print(f"나무를 {10 - namu}번 찍었습니다.")
print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [1]:
from IPython.display import clear_output
prompt = """
선택해 주세요.
    1. Add
    2. Del
    3. List
    4. Quit
"""
number = 0
while number != 4:
    print(prompt)
    number = int(input())
    clear_output(wait=True) # 이전 질문 지우기
print("시스템이 종료되었습니다.")

시스템이 종료되었습니다.

In [133]:
# random 주사위
import random as r 
# ran = int(r.random()*6 + 1)
box = [] # 초기화
num = 0
target = 250000
max_count = print(max(ran))
min_count = print(min(ran))
while num < target:
    num = num + 1
    ran = r.randint(1,6) # randint(a,b): 인자로 들어온 a,b 사이의 랜덤한 정수(int)를 반환
    box.append(ran)
if target == len(box):
    print(f"{target}회 정상 진행되었습니다.")
else:
    print(f"검증 결과 횟수 이상이 있습니다. 이유:({target}회 목표로 동작하였으나, {len(box)}으로 측정되었습니다.)")

# 리스트의 특정한 숫자를 몇개인지 찾아내는 함수써서
# count
print(f" 1번이 {box.count(1)}번({box.count(1)/len(box)*100:.2f}%) 나왔습니다.")
print(f" 2번이 {box.count(2)}번({box.count(2)/len(box)*100:.2f}%) 나왔습니다.")
print(f" 3번이 {box.count(3)}번({box.count(3)/len(box)*100:.2f}%) 나왔습니다.")
print(f" 4번이 {box.count(4)}번({box.count(4)/len(box)*100:.2f}%) 나왔습니다.")
print(f" 5번이 {box.count(5)}번({box.count(5)/len(box)*100:.2f}%) 나왔습니다.")
print(f" 6번이 {box.count(6)}번({box.count(6)/len(box)*100:.2f}%) 나왔습니다.")

print(f"가장 큰 숫자는 {box.count(max_count)번 ({box.count(max_count)/len(box)*100:.2f}%) 이다.")
print(f"가장 작은 숫자는 {box.count.(min_count)번 ({box.count(min_count)/len(box)*100:.2f}%) 이다.")
# print("") 3번이 가장 많이 출현하였습니다.
# max (): 가장 큰 수, min () : 가장 작은 수

SyntaxError: invalid decimal literal (742584958.py, line 27)

## for 문

In [41]:
# 전형적인 for 문
test_list = ['one', 'two', 'three']
for i in test_list: # one, two, three를 순서대로 i에 대입
    print(i)

one
two
three

In [ ]:
A, B = (1 , 2)

In [42]:
# 다양한 for 문의 사용
a = [(1,2,11), (3,4,33), (5,6,55)]
for (x , y , z ) in a: 
    print( x, y, z)

1 2 11
3 4 33
5 6 55

In [65]:
# p.143 marks1.py
marks = [90, 25, 67, 45, 80]    # 학생들의 시험 점수 리스트

number = 0          # 학생에게 붙여 줄 번호
for mark in marks:       # 90, 25, 67, 45, 80을 순서대로 mark에 대입
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [5]:
# p.144 marks2.py
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks: 
    number = number + 1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for x in numbers:
    if x%2 ==0:
        continue
    print(x)

1
3
5
7
9

In [6]:
# p.137 coffee.py
coffee = 10 
while True: 
    money = int(input("돈을 넣어주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee - 1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money-300))
        coffee = coffee - 1
    else:
        print("돈을 다시 돌려 주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0: 
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.

돈을 넣어주세요:  300

커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

### range 함수

In [ ]:
a = range(10)
print(a)

range(0, 10)

In [23]:
for n in range(10,50,2):
    print(n)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [25]:
la = list(range(0,100,2))
print(la)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [15]:
for even in range(0,10,2):
    print(even)

0
2
4
6
8

In [36]:
add = 0
for i in range(1,11):
    add = add + i 
print(add)

55

In [35]:
# p.145 marks3.py 
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue    # 점수가 60점 미만이면 맨 처음으로 돌아간다. 
    print("%d번 학생 축하합니다. 합격입니다." % (number + 1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [38]:
# p.145 1분 코딩 
add = 0 
for i in range(1,101): 
    add = add + i 
print(add)

5050

In [74]:
# 연습
import calendar
c = calendar.TextCalendar(calendar.SUNDAY)
print(c.formatmonth(2025,3))

     March 2025
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [79]:
# 테스트 타이
import time as t
for x in range(20):
    print(f'🟪',end='')
    t.sleep(1)
# E키 한번, I키를 두 번 누르고 shift+Enter

🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪🟪

In [82]:
# 리스트 속도측정
import time as t
lt = []
tp = []
length = 10*1000*1000
for x in range(length):
    lt.append(x)
for t in range(length):
    tp.append(t)
tp = tuple(tp)
print(type(lt))
print(type(tp))

<class 'list'>
<class 'tuple'>

In [99]:
import time
start = time.time()
for x in lt:
    lts = [1,2,3,4,5]
print(time.time() - start)

0.8351833820343018

In [100]:
import time
start = time.time()
for x in tp:
    tps = (1,2,3,4,5)
print(time.time() - start)

0.3964850902557373

In [108]:
!pip install tqdm

Collecting tqdm
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: colorama in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from tqdm) (0.4.6)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.67.1

In [2]:
from tqdm import tqdm 
import time as tt
for x in tqdm(range(100)):
    pass
    tt.sleep(0.1)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:10<00:00,  9.80it/s]

In [60]:
# 비트코인시세로 상승장 하강장 구분하기
import requests as req
url = "https://api.bithumb.com/public/ticker/ALL_KRW"
gdata = req.get(url).json()
btc = gdata['data']['BTC']
print(btc['max_price']) # 최대가
print(btc['min_price']) # 최소가
print(btc['opening_price']) # 시작가
print(float(maxp) - float(minp)) # 변화폭

152817000
149131000
152630000
3686000.0

In [64]:
import requests as req
url = "https://api.bithumb.com/public/ticker/ALL_KRW"
gdata = req.get(url).json()
btc = gdata['data']['BTC']
maxp = float(btc['max_price']) # 최대가
minp = float(btc['min_price']) # 최소가
openp = float(btc['opening_price']) # 시작가
bandp = float(maxp) - float(minp) # 변화폭
if (openp + bandp) > maxp: 
    print('상승장')
else: 
    print('하강장')

상승장

In [65]:
# 1분 캔들
import requests as req
url = 'https://api.bithumb.com/v1/candles/minutes/1?market=KRW-BTC&count=1'
btc_data = req.get(url).json()
print(btc_data[0]['trade_price']) # 1분 거래가
highp = float(btc_data[0]['high_price']) # 최대가
lowp = float(btc_data[0]['low_price']) # 최소가
openp = float(btc_data[0]['opening_price']) # 시작가
bandp = float(highp) - float(lowp) # 변화폭 
if (openp + bandp) > highp:
    print('상승장')
else: 
    print('하강장')

149272000
상승장

In [58]:
import requests as req
url = 'https://api.bithumb.com/v1/candles/minutes/1?market=KRW-BTC&count=1'
btc_data = req.get(url).json()
print((btc_data[0]['trade_price'])) # 1분 거래가
print(btc_data[0]['high_price']) # 최대가
print(btc_data[0]['low_price']) # 최소가
print(btc_data[0]['opening_price']) # 시작가
print(float(highp) - float(lowp)) # 변화폭

149132000
149148000
149132000
149148000
51000.0

In [111]:
for i in range(1,10):
    print(f'{2} x {i} = {(2)*i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [120]:
for j in range(2,10):
    print(f"{str(j)+'단':=^10}")
    for i in range(1,10):
        print(f'{j} x {i} = {j*i}')

====2단====
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
====3단====
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
====4단====
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
====5단====
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
====6단====
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
====7단====
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
====8단====
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
====9단====
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [91]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j,end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### 리스트 컴프리헨션

In [121]:
# 기본적인 리스트에 값 넣기
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [122]:
# 리스트 컴프리헨션
[num*3 for num in [1,2,3,4]]

[3, 6, 9, 12]

In [125]:
# 테스트1
# list(range(10))
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [127]:
res=[]
for x in range(10):
    if x%2==0:
        res.append(x)
print(res)

[0, 2, 4, 6, 8]

In [129]:
[x*3 for x in range(10) if x%2==0]

[0, 6, 12, 18, 24]

In [131]:
result = [i * j for i in range(2,10) for j in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [132]:
# for j in range(2,10):
    # print(f"{str(j)+'단':=^10}")
    # for i in range(1,10):
        # print(f'{j} x {i} = {j*i}')
for a in [f'{j} x {i} = {j*i}' for j in range(2,10) for i in range(1,10)]: 
    print(a)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [134]:
a = [11,22,313,414,55,66,77]
a.sort(reverse=True)
print(a[0])
print(a)
# print(max(a))

414
[414, 313, 77, 66, 55, 22, 11]