In [13]:
import pandas as pd
file_path = "./ref/서울시자치구(범죄예방수사용)CCTV설치현황_241231.xlsx"
CCTV = pd.read_excel(file_path, sheet_name="서울시 자치구 (범죄예방 수사용) CCTV 설치현황", skiprows=2)
CCTV.head()

,Unnamed: 0,순번,구분,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년,2024년
0,NaN,NaN,계,26321.0,33013.0,40512.0,49222.0,58139.0,67281.0,74408.0,80005.0,86810.0,99758.0
1,NaN,1,종로구,935.0,1066.0,1225.0,1322.0,1327.0,1510.0,1573.0,1812.0,1872.0,2154.0
2,NaN,2,중구,363.0,565.0,838.0,1174.0,1242.0,1482.0,1911.0,2026.0,2157.0,2567.0
3,NaN,3,용산구,1398.0,1689.0,1831.0,1888.0,1915.0,2058.0,2321.0,2531.0,2897.0,3202.0
4,NaN,4,성동구,1089.0,1328.0,2103.0,2390.0,2833.0,3162.0,3519.0,3627.0,3871.0,4084.0